html { height: 100%; }

.documentation {
  position: relative;
  min-height: 100%;
  padding-top: 4rem;
  padding-bottom: 3.5rem;
}
.documentation section {
  margin: 3rem 0 6rem 0;
}
.documentation section h1.heading,
.documentation section h2.heading {
  padding: 1.5rem 0;
  margin-bottom: 6rem;
  border-bottom: 1px solid rgba(66, 78, 86, 0.5);
  color: #424e56;
}
.documentation section h1.heading + *,
.documentation section h2.heading + * {
  margin-top: 0;
}
.documentation section h1.heading + p,
.documentation section h2.heading + p {
  margin-bottom: 6rem;
}
.documentation section h3.heading {
  color: #d6755e;
}
.documentation article p {
  margin-bottom: .5em;
}
.documentation article p:last-child {
  margin-bottom: 0;
}
.documentation article [class*=" msg-"] p,
.documentation article [class^="msg-"] p {
  margin-bottom: 0;
}

.documentation .brandbanner { padding: 8rem 0; }

.documentation .hosted-by-gitlab {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
  z-index: 2;
}

.documentation .hosted-by-gitlab > * {
  display: block;
  filter: grayscale(1);
  transition: .2s;
}

.documentation .hosted-by-gitlab:hover > * { filter: grayscale(0); }
