//-----------
//  HELPERS
//-----------

// Color txt and bg classes
@each $colorname, $colorvalue in $colors {
  .txt-#{$colorname} { color: $colorvalue !important; }
  .bg-#{$colorname} { background-color: $colorvalue !important; }
}

// Text alignments
@each $dir in (left, right, center) {
  .txt-#{$dir} {
    text-align: #{$dir} !important;
  }
}

// Margins
@each $k, $v in ("t": top, "r": right, "b": bottom, "l": left) {
  .m#{$k}-sm {
    margin-#{$v}: $gutter / 2;
  }

  .m#{$k}-md {
    margin-#{$v}: $gutter;
  }

  .m#{$k}-lg {
    margin-#{$v}: $gutter * 2;
  }
}
