//----------
//  MIXINS
//----------

/* stylelint-disable indentation */

// FONT IMPORT
// ex: @include font('roboto', '/path/to/font/Roboto');
@mixin font($name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url($path + ".woff") format("woff"),
    url($path + ".woff2") format("woff2"),
    url($path + ".eot") format("embedded-opentype"),
    url($path + ".ttf") format("truetype"),
    url($path + ".svg") format("svg");
  }
}

// FONT SIZE
// ex: @include font-size(h2);
@mixin font-size($elem) {
  $scope: map-get($font-sizes, $elem);
  $mobile: map-get($scope, "mobile");
  $desktop: map-get($scope, "desktop");

  font-size: $mobile;

  @media (min-width: $screen-md) { font-size: $desktop; }
}
