//-----------
//  BUTTONS
//-----------

/* stylelint-disable max-nesting-depth */
/* stylelint-disable order/order */

%btn {
  @include font-size(base);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1;
  padding: 1.1rem 1.25rem;
  vertical-align: middle;
  user-select: none;
  background-color: lighten($txt-color-base, 15%);
  color: $white;
  border: 1px solid lighten($txt-color-base, 15%);
  transition: $animdelay-base;
  cursor: pointer;

  &:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }
}

// Default
[class*="btn-"] { @extend %btn; }

// Outline
[class*="btn-outline-"] {
  @extend %btn;
  background-color: transparent;
  color: lighten($txt-color-base, 15%);
}

// Colors
[class*="btn-"] {
  @each $colorname, $colorvalue in $colors {
    &[class*="-#{$colorname}"] {
      @extend %btn;
      background-color: $colorvalue;
      border-color: $colorvalue;
      color: $white;

      &:active,
      &:hover,
      &.active {
        background-color: darken($colorvalue, 10%);
        border-color: darken($colorvalue, 10%);
      }

      // Disabled state
      &.disabled,
      &.disabled:active,
      &.disabled:hover,
      &.disabled.active,
      &:disabled,
      &:disabled:active,
      &:disabled:hover,
      &:disabled.active {
        cursor: not-allowed;
        background-color: $colorvalue;
        border-color: $colorvalue;
        opacity: .5;
      }
    }

    &[class*="-white"],
    &[class*="-lightgrey"] { color: $txt-color-base; }

    // Outline
    &[class*="-outline-"] {
      &[class*="-#{$colorname}"] {
        @extend %btn;
        background-color: transparent;
        border-color: $colorvalue;
        color: $colorvalue;

        &:active,
        &:hover,
        &.active {
          background-color: $colorvalue;
          color: $white;
        }

        // Disabled state
        &.disabled,
        &.disabled:active,
        &.disabled:hover,
        &.disabled.active,
        &:disabled,
        &:disabled:active,
        &:disabled:hover,
        &:disabled.active {
          cursor: not-allowed;
          background-color: transparent;
          color: $colorvalue;
          opacity: .5;
        }
      }

      &[class*="-white"],
      &[class*="-lightgrey"] {
        &:active,
        &:hover { color: $txt-color-base; }
      }
    }
  }
}

// Open parent (dropdown case)
.open [class*="btn-"] {
  @each $colorname, $colorvalue in $colors {
    &[class*="-#{$colorname}"] {
      background-color: darken($colorvalue, 10%);
      border-color: darken($colorvalue, 10%);
    }

    // Outline
    &[class*="-outline-"] {
      &[class*="-#{$colorname}"] {
        background-color: $colorvalue;
        color: $white;
      }

      &[class*="-white"],
      &[class*="-lightgrey"] { color: $txt-color-base; }
    }
  }
}

// Sizes
[class*="btn-"] {
  &[class*="-sm"] {
    font-size: $font-size-base * .75;
    padding: .55rem .85rem;
  }

  &,
  &[class*="-md"] {
    @include font-size(base);
    padding: 1.1rem 1.25rem;
  }

  &[class*="-lg"] {
    @include font-size(h6);
    padding: 1.5rem 1.85rem;
  }
}
