//----------
//  CARDS
//----------

.card {
  display: block;
  background-color: $white;
  color: $txt-color-base;
  border: 1px solid rgba($txt-color-base, .125);
  box-shadow: 0 1px 3px 1px rgba($txt-color-base, .125);

  .card-header,
  .card-body,
  .card-img,
  .card-footer {
    display: block;
    position: relative;
    border-top: 1px solid rgba($txt-color-base, .125);

    &:first-child { border: none; }
  }

  .card-header,
  .card-footer { padding: $gutter / 2; }

  .card-body { padding: $gutter ($gutter / 2); }

  .card-footer {
    text-align: right;

    * + * { margin-left: $gutter * .9; }
  }
}
