//-------------
//  DROPDOWNS
//-------------

/* stylelint-disable order/order */

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  [data-toggle="dropdown"] {
    padding-right: calc(1.25rem + 2.2rem);

    &:after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-top: .6rem solid;
      border-bottom: none;
      border-right: .6rem solid transparent;
      border-left: .6rem solid transparent;
      position: absolute;
      right: 1.25rem;
      top: 50%;
      transform-origin: center;
      transform: translateY(-50%) rotate(0deg);
      transition: $animdelay-base;
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    bottom: auto;
    left: 0;
    z-index: 1000;
    min-width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $white;
    color: $txt-color-base;
    border: 1px solid rgba($txt-color-base, .125);
    box-shadow: 0 1px 3px 1px rgba($txt-color-base, .125);

    .dropdown-item {
      @include font-size(base);
      display: block;
      width: 100%;
      padding: 1.1rem 1.25rem;
      text-align: inherit;
      white-space: nowrap;
      color: $txt-color-base;
      background-color: transparent;
      border: 0;
      transition: $animdelay-base;

      &:active,
      &:hover,
      &.active {
        text-decoration: none;
        background-color: rgba($txt-color-base, .0625);
      }

      &.disabled,
      &.disabled:active,
      &.disabled:hover,
      &.disabled.active {
        background-color: transparent;
        color: rgba($txt-color-base, .5);
        cursor: not-allowed;
      }
    }
  }

  [data-toggle="dropdown"].btn-sm {
    padding-right: calc(.85rem + 2.2rem);

    &:after { right: .85rem; }

    & ~ .dropdown-menu .dropdown-item { padding: 1.1rem .85rem; }
  }

  [data-toggle="dropdown"].btn-lg {
    padding-right: calc(1.85rem + 2.2rem);

    &:after { right: 1.85rem; }

    & ~ .dropdown-menu .dropdown-item { padding: 1.1rem 1.85rem; }
  }

  // Open state
  &.open {
    [data-toggle="dropdown"] {
      &:after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .dropdown-menu {
      display: block;
    }
  }

  // Directions variants
  &[data-direction="up"] {
    [data-toggle="dropdown"] {
      &:after {
        border-top: none;
        border-bottom: .6rem solid;
      }
    }

    .dropdown-menu {
      top: auto;
      bottom: 100%;
      box-shadow: 0 -1px 3px 1px rgba($txt-color-base, .125);
    }
  }
}
