//---------
//  FORMS
//---------

/* stylelint-disable order/order */

label,
.label {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 .25em 0;
  font-size: $font-size-base * .85;
  cursor: default;
}

input,
select,
textarea {
  white-space: nowrap;
  font-family: inherit;
  font-size: $font-size-base * .875;
  border: 1px solid rgba($txt-color-base, .25);
  border-radius: 0;
  color: $txt-color-base;
  vertical-align: middle;
  padding: .9rem 1.2rem .8rem 1.2rem;
  margin: 0;
  transition: $animdelay-base;
  appearance: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 3px 1px rgba($txt-color-base, .125);
  }
}

textarea {
  min-height: 13.525rem;
  vertical-align: top;
  resize: vertical;
  white-space: normal;
}

// Placeholders
::-webkit-input-placeholder {
  color: rgba($txt-color-base, .25);
  font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgba($txt-color-base, .25);
  font-style: italic;
}

form,
.form {
  fieldset,
  .fieldset {
    margin-top: $gutter * 2;

    &:first-child { margin-top: 0; }

    legend,
    .legend {
      @include font-size(h5);
      font-family: $font-family-head;
      font-weight: normal;
      line-height: 1.4;
      border-bottom: 1px solid rgba($txt-color-base, .25);
      padding-bottom: .25em;
      margin-top: .75em;
      margin-bottom: $gutter;

      &:first-child { margin-top: 0; }

      + .form-group { margin-top: 0; }
    }
  }

  .form-group {
    margin-top: $gutter;

    &:first-child { margin-top: 0; }

    input,
    select,
    textarea {
      display: block;
      width: 100%;

      // Disabled state
      &:disabled,
      &[readonly] {
        background-color: rgba($txt-color-base, .0625);
        cursor: not-allowed;
      }
    }

    select {
      background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23424e56' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
      background-size: 2.5rem 1.2rem;
      padding-right: 3.25rem;
    }

    input[type="checkbox"],
    input[type="radio"] {
      width: auto;
      display: inline-block;

      &:not(:checked),
      &:checked {
        position: absolute;
        left: -9999px;
      }

      &:not(:checked) + label,
      &:checked + label {
        position: relative;
        padding-right: calc(2rem + 1rem);
        cursor: pointer;
        min-height: 2rem;
        margin: 0;
      }

      &:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
      }

      &:checked + label:after {
        opacity: 1;
        transform: scale(1);
      }
    }

    // Checkbox
    input[type="checkbox"]:not(:checked),
    input[type="checkbox"]:checked {
      + label:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 2rem;
        height: 2rem;
        border: 1px solid rgba($txt-color-base, .25);
        background: $white;
      }

      + label:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: .4rem;
        right: .4rem;
        width: 1.2rem;
        height: 1.2rem;
        color: $txt-color-base;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23424e56' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
        background-size: 100% 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        transition: .2s;
      }
    }

    // Radio
    input[type="radio"]:not(:checked),
    input[type="radio"]:checked {
      + label:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 2rem;
        height: 2rem;
        border: 1px solid rgba($txt-color-base, .25);
        border-radius: 50%;
        background: $white;
      }

      +label:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: .6rem;
        right: .6rem;
        width: .8rem;
        height: .8rem;
        background-color: $txt-color-base;
        border-radius: 50%;
        transition: .2s;
      }
    }

    // Switch
    /* stylelint-disable max-nesting-depth */
    [class*="switch"] {
      &[type="checkbox"]:not(:checked),
      &[type="checkbox"]:checked {
        + label {
          position: relative;
          padding-right: calc(3.5rem + 1rem);
          cursor: pointer;
          min-height: 2rem;
          margin: 0;
        }

        + label:before {
          content: "";
          display: block;
          box-sizing: border-box;
          position: absolute;
          right: 0;
          top: 0;
          width: 3.5rem;
          height: 2rem;
          border: 1px solid rgba($txt-color-base, .25);
          background-color: $white;
          border-radius: 2rem;
        }

        + label:after {
          content: "";
          display: block;
          box-sizing: border-box;
          position: absolute;
          top: 50%;
          right: calc(3.5rem - 1.7rem);
          transform: translateY(-50%) scale(1);
          width: 1.4rem;
          height: 1.4rem;
          background-image: none;
          background-color: rgba($txt-color-base, .25);
          border-radius: 50%;
          opacity: 1;
          transition: $animdelay-base;
        }
      }

      &[type="checkbox"]:checked {
        + label:after {
          background-color: $txt-color-base;
          right: calc(2rem - 1.7rem);
        }
      }
    }
    /* stylelint-enable max-nesting-depth */

    // Feedback messages, hints
    .msg {
      display: block;
      font-size: .85em;
      color: rgba($txt-color-base, .25);
      font-style: italic;
      text-align: right;
      margin-top: .5em;
    }

    // Validations
    &.has-error {
      input,
      select,
      textarea {
        border-color: $danger;

        &:focus { box-shadow: 0 0 3px 1px rgba($danger, .5); } // stylelint-disable-line max-nesting-depth
      }

      .msg { color: $danger; }
    }

    &.has-success {
      input,
      select,
      textarea {
        border-color: $success;

        &:focus { box-shadow: 0 0 3px 1px rgba($success, .5); } // stylelint-disable-line max-nesting-depth
      }

      .msg { color: $success; }
    }
  }
}
