//----------
//  TABLES
//----------

table,
.table {
  display: table;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  vertical-align: top;
  border: 1px solid rgba($primary, .25);

  th,
  td {
    vertical-align: top;
    padding: .5rem .75rem;
    text-align: left;
    border: 1px solid rgba($primary, .25);
  }

  th { font-weight: bold; }

  &-striped {
    tbody tr:nth-child(2n+1) {
      background-color: rgba($primary, .0625);
    }
  }

  caption {
    caption-side: bottom;
    padding: ($gutter / 4) ($gutter / 4) 0 0;
    color: rgba($primary, .25);
    font-style: italic;
    font-size: .85em;
    text-align: right;
  }
}
