//----------
//  LAYOUT
//----------

html { box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit;
  min-width: 0;
  min-height: 0;
}

.pagewrapper {
  max-width: $pagewidth;
  margin: 0 auto;
  padding: 0 ($gutter / 2);
}
